<!DOCTYPE html>
<html lang="en">
  <%- include('layout/header') %>
  <body>
    <%- include('layout/navbar') %>
    <div class="page">
      <div class="error">
        <p><%= error %></p>
      </div>
    </div>
  </body>
</html>
