<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <%- include('layout/header') %>
  <body>
    <%- include('layout/navbar') %>

    <div class="page">
      <h3>Successfully logout</h3>
    </div>
  </body>
</html>
