<!-- @format -->

<div class="nav">
  <h3 class="title">FluidAuth</h3>
  <a href="/">home</a>
  <a href="/dashboard">dashboard</a>
  <a href="/login/google">google login</a>

  <div>name: <%= user.name %></div>
</div>
