<!-- @format -->

<div class="nav">
  <div>
    <h3 class="title">FluidAuth Test</h3>
  </div>

  <div class="nav_links">
    <a href="/">home</a>
    <a href="/dashboard">dashboard</a>
    <a href="/login/google">google login</a>
  </div>

  <div>name: <%= user.name %></div>
</div>
